body {
	background-image: url("Images/spacebg.png");
	margin: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}

.player-model {
	background-image: url("Images/Blue-Robot.png");
	height: 200px;
	width: 200px;
	background-size: 200px 200px;
	position: absolute;
	top: 55%;
	left: 50%;
	margin: -100px -100px;
	background-repeat: no-repeat;
	
}

.cat {
	height: 200px;
	width: 200px;
	position: absolute;
}

.top-right-cat {
	top: 0;
	right: 0;
}

.top-left-cat {
	top: 0;
	left: 0;
}

.bottom-left-cat {
	left: 0;
	bottom: 0;
}

.bottom-right-cat {
	right: 0;
	bottom:0;
}

.top-middle-cat {
	top: 0;
	left: 45%;
}

.middle-left-cat {
	top: 40%;
	left: 0;
}

.middle-right-cat {
	top: 40%;
	right: 0;
}

.bottom-middle-cat {
	bottom: 0;
	left: 45%;
}

.invisible {
	visibility: hidden;
}
.new-cat {
	background-color: yellow;
	height: 100px;
	width: 100px;
}

.cat-phrase {
	font-family: arial;
	background-color: lightgrey;
	border: 2px black solid;
	border-radius: 10px;
	text-align: center;
}

.phrase-holder {
	height: 50px;
}

.cat-image {
	background-image: url("Images/standard_cat.png");
	background-size: 100% 100%;
	height: 150px;
}

.game-over {
	color: red;
	position: absolute;
	font-family:impact;
	font-size:130px;
	top:50%;
	left:50%;
	margin: -100px -250px;
	background-color: yellow;
	border: 10px black solid;
	border-radius: 100px;
	height:200px;
	width:500px;
	text-align: center;
	padding: 40px 0 0 0;
}