body {
	background-image: url("https://opengameart.org/sites/default/files/space%20bg.png");
	margin: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}

.player-model {
	background-image: url("Images/Blue-Robot.png");
	height: 200px;
	width: 200px;
	background-size: 200px 200px;
	position: absolute;
	top: 55%;
	left: 50%;
	margin: -100px -100px;
	background-repeat: no-repeat;
	
}

.test-cat {
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	right: 0;
}

.new-cat {
	background-color: yellow;
	height: 100px;
	width: 100px;
}

.cat-phrase {
	font-family: arial;
	background-color: lightgrey;
	border: 2px black solid;
	border-radius: 10px;
	text-align: center;
}

.phrase-holder {
	height: 50px;
}

.cat-image {
	background-image: url("https://cdn.pixabay.com/photo/2013/07/12/19/22/cat-154642_960_720.png");
	background-size: 100% 100%;
	height: 150px;
}

.game-over {
	color: red;
	position: absolute;
	font-family:impact;
	font-size:130px;
	top:50%;
	left:50%;
	margin: -100px -250px;
	background-color: yellow;
	border: 10px black solid;
	border-radius: 100px;
	height:200px;
	width:500px;
	text-align: center;
}