body {
	background-image: url("Images/spacebg.png");
	margin: 0;
	background-size: 100% 840px;
	background-repeat: no-repeat;\
	overflow: hidden;
}

.player-model {
	background-image: url("Images/Blue-Robot.png");
	height: 200px;
	width: 200px;
	background-size: 200px 200px;
	position: absolute;
	top: 63%;
	left: 50%;
	margin: -100px -100px;
	background-repeat: no-repeat;
	z-index: 0;
	
}

.player-dead {
	height: 800px;
	width: 800px;
	background-size: 800px 800px;
	top: 55%;
	left: 50%;
	margin: -400px 0 0 -400px;
	background-image: url("https://cdn.pixabay.com/photo/2016/03/31/15/23/explosion-1293246_960_720.png");
	/*visibility: hidden;*/
}

.splash-screen {
	background-image: url("Images/splashbg.jpg");
	height: 840px;
	width: 100%;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
}

.main-title {
	font-family: 'Audiowide';
	font-weight: 900;
	text-align: center;
	font-size: 80px;
	color: white;
	text-shadow: -3px 0 maroon, 3px 0 maroon, 3px 0 maroon, -3px 0 maroon;
	background-color: midnightblue;
	width: 1100px;
	border-radius: 50px;
	border: 5px black solid;
	margin: 0 auto;
	top: 50px;
	position: relative;

}

.instructions-box {
	height: 400px;
	width: 1000px;
	position: relative;
	margin: 0 auto;
	top: 100px;
	text-shadow: -5px 0 midnightblue, 5px 0 midnightblue, 5px 0 midnightblue, -5px 0 midnightblue;
}

.instructions {
	color: white;
	font-family: 'Audiowide';
	font-size: 25px;
}

.start-button {
	background-color: navy;
	border: black 5px solid;
	border-radius: 50px;
	height: 60px;
	padding: 15px 0 19px 0;
	width: 250px;
	position: relative;
	margin: 0 auto;
	
	top: 55px;
	font-family: 'Audiowide';
	color: white;
	font-size: 55px;
	text-align: center;
	vertical-align: middle;

}

.cat {
	height: 200px;
	width: 200px;
	position: absolute;
}

.top-right-cat {
	top: 0;
	right: 0;
}

.top-left-cat {
	top: 0;
	left: 0;
}

.bottom-left-cat {
	left: 0;
	bottom: 0;
}

.bottom-right-cat {
	right: 0;
	bottom:0;
}

.top-middle-cat {
	top: 0;
	left: 45%;
}

.middle-left-cat {
	top: 40%;
	left: 0;
}

.middle-right-cat {
	top: 40%;
	right: 0;
}

.bottom-middle-cat {
	bottom: 0;
	left: 45%;
}

.invisible {
	visibility: hidden;
}
.new-cat {
	background-color: yellow;
	height: 100px;
	width: 100px;
}

.cat-phrase {
	font-family: arial;
	background-color: lightgrey;
	border: 2px black solid;
	border-radius: 10px;
	text-align: center;
}

.phrase-holder {
	height: 50px;
}

.cat-image {
	background-image: url("Images/standard_cat.png");
	background-size: 100% 100%;
	height: 150px;
}

.game-over {
	color: red;
	position: absolute;
	font-family:impact;
	font-size:130px;
	top:50%;
	left:50%;
	margin: -100px -250px;
	background-color: yellow;
	border: 10px black solid;
	border-radius: 100px;
	height:250px;
	width:500px;
	text-align: center;
	padding: 20px 0 0 20px;
	visibility: hidden;
	z-index: 10000;
}

.play-again {
	font-size: 30px;
}

.visible {
	visibility: visible;
}