body {
	background-image: url("../Images/spacebg.png");
	margin: 0;
	background-size: 100% 940px;
	background-repeat: no-repeat;
	overflow: hidden;
}

.player-model {
	background-image: url("../Images/Blue-Robot.png");
	height: 25%;
	width: 25%;
	background-size: 50% 90%;
	position: absolute;
	top: 68%;
	left: 50%;
	margin: -100px -100px;
	background-repeat: no-repeat;
	z-index: 0;
	
}

.player-dead {
	height: 800px;
	width: 800px;
	background-size: 800px 800px;
	top: 55%;
	left: 50%;
	margin: -400px 0 0 -400px;
	background-image: url("../Images/playerdead.png");
}

.splash-screen {
	background-image: url("../Images/splashbg.jpg");
	height: 940px;
	width: 100%;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
}

.main-title {
	font-family: 'Audiowide';
	font-weight: 900;
	text-align: center;
	font-size: 80px;
	color: white;
	text-shadow: -3px 0 maroon, 3px 0 maroon, 3px 0 maroon, -3px 0 maroon;
	background-color: midnightblue;
	width: 1100px;
	border-radius: 50px;
	border: 5px black solid;
	margin: 0 auto;
	top: 50px;
	position: relative;
	box-shadow: 4px 4px 11px 6px rgba(0,0,0,0.6);

}

.instructions-box {
	height: 400px;
	width: 1000px;
	position: relative;
	margin: 0 auto;
	top: 100px;
	text-shadow: -5px 0 midnightblue, 5px 0 midnightblue, 5px 0 midnightblue, -5px 0 midnightblue;
}

.instructions {
	color: white;
	font-family: 'Audiowide';
	font-size: 25px;
}

.start-button {
	background-color: navy;
	border: black 5px solid;
	border-radius: 50px;
	height: 60px;
	padding: 15px 0 19px 0;
	width: 250px;
	position: relative;
	margin: 0 auto;
	box-shadow: 4px 4px 11px 4px rgba(0,0,0,0.6);
	top: 105px;
	font-family: 'Audiowide';
	color: white;
	font-size: 55px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;

}

.start-button:hover {
	background-color: rgb(0, 0, 60);
}

.cat {
	height: 200px;
	width: 200px;
	position: absolute;
}

.top-right-cat {
	top: 0;
	right: 0;
}

.top-left-cat {
	top: 0;
	left: 0;
}

.bottom-left-cat {
	left: 0;
	bottom: 0;
}

.bottom-right-cat {
	right: 0;
	bottom:0;
}

.top-middle-cat {
	top: 0;
	left: 45%;
}

.middle-left-cat {
	top: 40%;
	left: 0;
}

.middle-right-cat {
	top: 40%;
	right: 0;
}

.bottom-middle-cat {
	bottom: 0;
	left: 45%;
}

.ninja {
	height: 200px;
	width: 200px;
	position: absolute;
	top: 40%;
}
.ninja-left {
	left: 0;
}

.ninja-right{
	right: 0;
}

.squad {
	height: 200px;
	width: 200px;
	position: absolute;
}

.squad-right {
	right: 12%;
	top: 0;
}

.squad-left {
	left: 20%;
	top: 0;
}

.squad-middle-left {
	left: 0;
	top: 26%;
}

.squad-middle-right {
    right: -7%;
    top: 25%;
}

.squad-top {
	top: 0;
	left: 47%;
}

.invisible {
	visibility: hidden;
}

.new-cat {
	background-color: yellow;
	height: 100px;
	width: 100px;
}

.cat-phrase {
	font-family: georgia;
	background-color: lightgrey;
	border: 2px black solid;
	border-radius: 10px;
	text-align: center;
}

.phrase-holder {
	height: 50px;
}

.boss-phrase-holder {
	height:150px;
	position: relative;
	top: 50px;
	z-index: 100000;

}

.cat-image {
	background-image: url("../Images/standard_cat.png");
	background-size: 100% 100%;
	height: 150px;
}

.ninja-cat-image {
	background-image: url("../Images/ninjacat.png");
	background-size: 100% 100%;
	height:150px;
}

.squad-cat-image {
	background-image: url("../Images/swarmcatling.png");
	background-size: 60% 60%;
	height: 150px;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.squad-phrase {
	width: 60px;
	text-align: center;
	position: relative;
	left: 20px;
}

.squad-phrase-holder{
	height: 25px;
}

.game-over {
	color: red;
	position: absolute;
	font-family:impact;
	font-size:130px;
	top:50%;
	left:50%;
	margin: -100px -250px;
	background-color: yellow;
	border: 10px black solid;
	border-radius: 100px;
	height:250px;
	width:500px;
	text-align: center;
	padding: 20px 0 0 20px;
	visibility: hidden;
	z-index: 10000;
	box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.6);
}

.play-again {
	border-radius: 50px;
	border: 5px black solid;
	width: 200px;
	margin: 30px auto;
	font-size: 30px;
	box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.6);
}

.visible {
	visibility: visible;
}

.boss-banner {
	display: none;
	color: red;
	font-size: 90px;
	font-family: 'Frijole';
	text-align: center;
	position: relative;
	top: 100px;
	font-weight: 200;
}

.boss-cat {
	height: 700px;
	width: 500px;
	position: absolute;
	top: 0%;
	left: 0px;
	display:none;
}

.boss-image {
	background-image: url('../Images/bosscat.png');
	height: 500px;
	width: 500px;
	background-size: 500px 500px;

}

.gold {
	background-image : url("../Images/gold.jpg");
}

.red {
	color: white;
}

.life-counter {
	height: 100px;
	width: 250px;
	background-color: navy;
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding: 0;
	border-radius: 50px;
	background-color: midnightblue;
	border: 5px black solid;
}

.lives {
	display:inline-block;
	height:50px;
	width:50px;
	background-image: url('../Images/lives.png');
	background-size: 80px 80px;
	padding: 0 5px;
	position: relative;
	left: 25px;
	background-position: center;
}

.life-text {
	text-align: center;
	padding: 0 0 5px 0;
	font-family: "Audiowide";
	font-size: 25px;
	color: white;
	text-shadow: -3px 0 maroon, 3px 0 maroon, 3px 0 maroon, -3px 0 maroon;
}